extends main-layout

block content
  div#message
    p For Preview Only<br/><a href='http://jonaslund.biz/'>Jonas Lund</a>, 2015<br/><br/>All of the ‘For Preview Only’ copies of all the works in the <a href='http://li-ma.nl'>Lima Collection</a> collected and compressed to a 24 hours long video, presented here with time based synchronised playback. <br/>
        
  video#video(src='http://s3.amazonaws.com/forpreviewonly/1.mp4')
  
  div#subtitle
    span#subtitletext